---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import AccordionCourse from '../../components/ui/AccordionCourse.astro';
import data from '../../mock/cursos.json';
import BadgeCard from '../../components/ui/BadgeCard.astro';
import ListDetalist from '../../components/ui/ListDetalist.astro';

export function getStaticPaths() {
	return data.map((item) => {
		return {
			params: { curso: item.key },
			props: { item },
		};
	});
}

const { curso } = Astro.params;
const { item } = Astro.props;
---

<Layout title={item.title} howIsActive='cursos'>
	<main class='flex flex-col md:flex-row justify-center md:justify-around gap-4 py-4 px-4'>
		<section>
			<h2 class='text-3xl font-bold text-center md:text-start my-2'>{item.title}</h2>
			<p class='max-w-xl text-center md:text-start'>{item.description}</p>
			<article>
				<h3 class='text-2xl font-bold underline text-center md:text-start my-2'>Temario del curso</h3>
				<div class='hs-accordion-group flex flex-col gap-2 my-6'>
					<AccordionCourse />
					<AccordionCourse />
					<AccordionCourse />
				</div>
			</article>
		</section>
		<aside class='bg-zinc-200 dark:bg-black rounded-xl mx-auto md:mx-0 w-fit p-4 flex flex-col justify-center items-center'>
			<div>
				<h4 class='text-center font-medium text-xl my-2 underline'>Detalles del Curso</h4>
				<Image
					width={414}
					height={200}
					src='/images/banners/breact.jpg'
					alt={item.img_alt}
					class={'[mask-image:linear-gradient(#18181b_80%,_transparent)] rounded-2xl rounded-b-none'}
				/>
			</div>
			<section>
				<ul class='flex flex-col gap-1 mt-2 '>
					<ListDetalist text='Profesor:' detail={'Leonardo Palomino'} />
					<ListDetalist text='Clases:' detail={'8 clases'} />
					<ListDetalist text='Horas de video:' detail={'+24 horas'} />
					<ListDetalist text='Precio:' detail={'S/. 120'} />
					<ListDetalist text='Horario:' detail={'Domingos de 4:00 a 7:00PM | 🇵🇪'} />
					<ListDetalist text='Inicio:' detail={'10 de Diciembre del 2024'} />
					<ListDetalist text='Final:' detail={'29 de Diciembre del 2024'} />
				</ul>
			</section>
		</aside>
	</main>
</Layout>
