---
import Layout from '../layouts/Layout.astro';
import NavbarComponent from '../components/NavbarComponent.astro';
import HeroComponent from '../components/HeroComponent.astro';
---

<Layout title="La casa informatica | Listos para guiarte hacia la digitalización">
	<main class="h-screen">
		<NavbarComponent />
		<HeroComponent />
	</main>
</Layout>

