---
import Layout from "../layouts/Layout.astro";
---

<Layout title="La casa informatica | Listos para guiarte hacia la digitalización" howIsActive="promociones">
	<h1>Promociones Page</h1>
</Layout>