---
import { Image } from 'astro:assets';
import WhatsappSvg from './svgs/Whatsapp_svg.astro';
import CodeSvg from './svgs/Code_svg.astro';
import HeroButton from './ui/HeroButton.astro';
---

<section
	class='bg-zinc-100 dark:bg-black min-h-[88vh] px-4 flex flex-col gap-6 items-center justify-center lg:flex-row md:justify-around lg:gap-0'
>
	<div>
		<h1 class='text-5xl mt-6 text-center md:text-7xl lg:mt-0 font-bold drop-shadow-[0_20px_50px_rgba(8,_112,_184,_0.8)]'>
			LA CASA INFORMÁTICA
		</h1>
		<h2 class='text-xl text-center text-zinc-900 dark:text-zinc-300 md:text-2xl animate-fade-down'>
			Domina la tecnología de forma <b class='text-pattens-blue-400 dark:text-pattens-blue-300'>Práctica</b> y
			<b class='text-yellow-600 dark:text-yellow-300'>Actualizada</b>
		</h2>
		<div class='mt-4 flex justify-center flex-col md:flex-row gap-4'>
			<HeroButton link='https://wa.me/51976783049?text=Hola%20deseo%20los%20servicios%20de%20La%20Casa%20Informática' text='Contactanos' type='solid'><WhatsappSvg size='1.5rem' /></HeroButton>
			<HeroButton link='/cursos' text='Cursos' type='outline'><CodeSvg size='1.6rem' /></HeroButton>
		</div>
	</div>
	<Image
		width={400}
		height={400}
		src='/images/hero_student.webp'
		alt={'Ilustracion 3d para el Hero de la pagina'}
		class={'[mask-image:linear-gradient(#18181b_60%,_transparent)] hover:scale-95 md:hover:scale-105 transition cursor-pointer sm:w-[30rem] sm:h-[30rem]'}
		loading={'eager'}
	/>
</section>
