---
import { Image } from 'astro:assets';
import NavbarToggleButton from './ui/NavbarToggleButton.astro';
import NavbarLink from './ui/NavbarLink.astro';

const { active } = Astro.props;
---

<header class='flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-zinc-100 text-sm dark:bg-black min-h-[12vh]'>
	<section class='max-w-[85rem] w-full mx-auto px-4 py-2 md:flex md:items-center md:justify-between'>
		<div class='flex items-center justify-between'>
			<a class='flex-none' href='/' aria-label='Logo de la marca'>
				<Image
					width={70}
					height={70}
					src='/images/logo_lci.webp'
					alt='Logo principal de La Casa Informatica'
					loading={'eager'}
				/>
			</a>
			<div class='md:hidden'>
				<NavbarToggleButton />
			</div>
		</div>
		<div id='hs-navbar-example' class='hidden hs-collapse overflow-hidden basis-full grow md:block'>
			<nav class='flex flex-col gap-5 my-4 md:flex-row md:items-center md:justify-end md:my-0 sm:ps-5'>
				<NavbarLink link='/' text='Inicio' active={active === 'home'} />
				<NavbarLink link='/cursos' text='Catálogo de Cursos' active={active === 'cursos'} />
				<NavbarLink link='/promociones' text='Promociones de Cursos' active={active === 'promociones'} />
				<NavbarLink link='/productos' text='Nuestros Productos' active={active === 'productos'} />
			</nav>
		</div>
	</section>
</header>
