---
import CardTeam from './ui/CardTeam.astro';
---

<section class='py-6 px-4 bg-zinc-100 dark:bg-black'>
	<h2 class='text-3xl font-bold underline text-center'>Nuestro Equipo</h2>
	<p class='text-lg text-center max-w-lg mx-auto md:text-xl my-4 text-zinc-600 dark:text-zinc-400'>
		Conoce a las personas que forman parte de esta gran familia
	</p>
	<div class='flex flex-wrap justify-center my-8 gap-4'>
		<CardTeam name='Leonardo Palomino' position='Founder - CEO' image='/images/team/team_1.webp' />
		<CardTeam name='Lucas Espinoza' position='Fullstack Developer' image='/images/team/team_2.webp' />
	
	</div>
</section>
