---
import { ViewTransitions } from 'astro:transitions';
import FooterComponent from '../components/FooterComponent.astro';
import NavbarComponent from '../components/NavbarComponent.astro';
import '@fontsource-variable/afacad-flux';

interface Props {
	title: string;
	howIsActive: string;
}

const { title, howIsActive } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>

	<head>
		<meta charset='UTF-8' />
		<meta name="description" content="La Casa Informática es una academia de programación en Perú que ofrece cursos de Python, JavaScript, React, Java, y React Native. Aprende desde cero o mejora tus habilidades con expertos en tecnología y acelera tu carrera en el mundo digital. Inscríbete ahora y da el siguiente paso en tu formación profesional." />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>

		<!--
			* SEO Tags para Google
			-->
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="La Casa Informática - Aprende programación de manera practica y actualizada" />
		<meta property="og:description" content="Aprende programación en Python, JavaScript, React, Java y React Native. Cursos con expertos para acelerar tu carrera" />
		<meta property="og:image" content="https://raw.githubusercontent.com/withoutnicks/landing-la-casa-informatica/refs/heads/main/public/images/banner_seo.webp" />
		<meta property="og:url" content=" " />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="La Casa Informática - Aprende programación de manera practica y actualizada" />
		<meta name="twitter:description" content="Cursos de programación en Python, JavaScript, React, Java y más. Aprende con expertos y transforma tu futuro digital." />
		<meta name="twitter:image" content="https://raw.githubusercontent.com/withoutnicks/landing-la-casa-informatica/refs/heads/main/public/images/banner_seo.webp" />
		
		<!-- 
			* View Transitions API para el cambio de páginas
			-->
		<ViewTransitions />
	</head>

	<body class='text-zinc-900 bg-zinc-100 dark:text-zinc-100 dark:bg-zinc-900'>
		<NavbarComponent active={howIsActive} />
		<slot />
		<FooterComponent />
	</body>

</html>

<style>
	body { font-family: 'Afacad Flux Variable', sans-serif; }
</style>

<!--
	* Inicializar los componentes de PrelineUI luego de la transición de paginas 
	-->
<script is:inline>
	document.addEventListener('astro:after-swap', () => {
		window.HSStaticMethods.autoInit();
	});
</script>

<!-- 
	* Cargar el javascript de PrelineUI 
	-->
<script src='../../node_modules/preline/dist/preline.js'></script>
