---
import { ViewTransitions } from 'astro:transitions';
import FooterComponent from '../components/FooterComponent.astro';
import NavbarComponent from '../components/NavbarComponent.astro';
import '@fontsource-variable/afacad-flux';

interface Props {
	title: string;
	howIsActive: string;
}

const { title, howIsActive } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>

	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<!-- 
			* View Transitions API para el cambio de páginas
			-->
		<ViewTransitions />
	</head>

	<body class='text-zinc-900 bg-zinc-100 dark:text-zinc-100 dark:bg-zinc-900'>
		<NavbarComponent active={howIsActive} />
		<slot />
		<FooterComponent />
	</body>

</html>

<style>
	body { font-family: 'Afacad Flux Variable', sans-serif; }
</style>

<!--
	* Inicializar los componentes de PrelineUI luego de la transición de paginas 
	-->
<script is:inline>
	document.addEventListener('astro:after-swap', () => {
		window.HSStaticMethods.autoInit();
	});
</script>

<!-- 
	* Cargar el javascript de PrelineUI 
	-->
<script is:inline src='../../node_modules/preline/dist/preline.js'></script>
