---
import PlusSvg from '../svgs/Plus_svg.astro';
import MinusSvg from '../svgs/Minus.astro';

export interface ItemSyllabus {
	title: string;
	S1?: string;
	S2?: string;
	S3?: string;
	S4?: string;
	S5?: string;
}

interface Props {
	list: ItemSyllabus;
}

const { list } = Astro.props;

const syllabusKeys: (keyof ItemSyllabus)[] = ['S1', 'S2', 'S3', 'S4', 'S5'];

const syllabusItems: string[] = syllabusKeys
	.map((key) => list[key])
	.filter((item): item is string => item !== undefined);
---

<div
	class='hs-accordion hs-accordion-active:border-zinc-200 max-w-3xl bg-zinc-200 border border-transparent rounded-xl dark:hs-accordion-active:border-neutral-700 dark:bg-black dark:border-transparent'
	id='hs-active-bordered-heading-one'
>
	<button
		class='hs-accordion-toggle hs-accordion-active:text-pattens-blue-600 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-zinc-800 py-4 px-5 hover:text-zinc-500 disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pattens-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:outline-none dark:focus:text-neutral-400'
		aria-expanded='false'
		aria-controls='hs-basic-active-bordered-collapse-one'
	>
		{list.title}
		<PlusSvg />
		<MinusSvg />
	</button>
	<div
		id='hs-basic-active-bordered-collapse-one'
		class='hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300'
		role='region'
		aria-labelledby='hs-active-bordered-heading-one'
	>
		<div class='pb-4 px-5'>
			<ul class='marker:text-pattens-blue-600 list-disc ps-5 space-y-2 text-base text-zinc-600 dark:text-neutral-400'>
				{syllabusItems.map((item) => <li>{item}</li>)}
			</ul>
		</div>
	</div>
</div>
