---
import BadgeCard from "./BadgeCard.astro";

interface Props {
  text: string;
  detail: string;
}

const { text, detail } = Astro.props;
---

<li
	class='max-w-[414px] flex justify-between items-center gap-x-2 text-lg font-medium bg-zinc-100 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-black dark:border-zinc-700 dark:text-zinc-200'
>
	<b>{text}</b>
	<BadgeCard text={detail} color='white' />
</li>
