---
interface Props {
	link: string;
	text: string;
	active?: boolean;
}

const { link, text, active } = Astro.props;
---

<a
	class={`text-base md:text-lg focus:outline-none underline-offset-4 
  ${active 
    ? 'text-yellow-600 dark:text-yellow-500 sm:underline' 
    : 'text-zinc-800 hover:text-yellow-600 sm:hover:underline dark:text-zinc-300 dark:hover:text-yellow-500'}
  `}
	href={link}
>
	{text}
</a>
